<div class="row">
    <div class="col-xs-12">
        <img style="max-height:200px"
            src=""
            alt="recipe image">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage <span class="caret"></span></button>
            <div class="dropdown-menu">
                <li class="">
                    <ul class="dropdown-item"><a href="/">To Shopping List</a></ul>
                    <ul class="dropdown-item"><a href="/">Edit</a></ul>
                    <ul class="dropdown-item"><a href="/">Add</a></ul>
                </li>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>